.edit-profile,
.government {
  text-align: center;
  padding: 20px;
  min-height: 100vh;
  place-items: center;
  display: grid;
}

.title {
  /* h2 프로필 수정 */
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  margin-right: 50%;
  background: linear-gradient(to top, #ff8b28 40%, transparent 40%);
}

.profileBox,
.governBox {
  background-color: rgba(251, 236, 219, 1);
  border: 5px solid #f6aa66;
  border-radius: 25px;
  padding: 5px;
  text-align: left;
  width: 70%;
  display: flex;
  align-items: center;
}
.profileImage {
  margin-left: 100px;
}
.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #dcdcdc;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 27%;
}
button.profile {
  margin-top: 20px;
  height: 50px;
  margin-right: 20px;
  width: 100px;
}

.buttonGroup {
  flex-direction: column;
}
.buttonGroup button {
  box-shadow: 0px 5px 5px -2px gray;
}
.buttonGroup button:hover {
  background-color: #676767;
  transition: ease-out 0.3s;
}
.profile {
  padding: 5px 10px;
  background-color: #7d7d7d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.info {
  margin-left: 140px;
}
.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  font-size: 1rem;
  gap: 10%;
  background-color: #fff2d7;
  border-radius: 20px;
  height: 40px;
  width: 320px;
  box-shadow: 0px 5px 5px -2px gray;
}
.text {
  white-space: nowrap; /* 텍스트를 한 줄로 표시 */
  overflow: hidden; /* 넘치는 내용 숨김 */
  text-overflow: ellipsis; /* 넘치는 부분 ... 표시 */
  flex: 1;
  padding-left: 10px;
}

/* 로그인 버튼 컴포넌트 영향 안받기 위해 따로 제작 */
.info .changeButton {
  background-color: #a9a9a9;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 60px;
  height: 40px;
  margin: 0;
  box-shadow: 0px 5px 5px -2px gray;
}
.info .changeButton:hover {
  background-color: #676767;
  transition: ease-out 0.3s;
}

.governBox {
  flex-direction: column; /* 세로 정렬 */
}
.govern-img {
  width: 80px;
  height: 80px;
}
.question {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.contents-list {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}
.contents {
  height: 40px;
  background-color: #9d9d9d;
  width: 100%;
  text-align: center;
  padding: 10px;
  height: 60px;
  margin-bottom: 20px; /* 요소 간 세로 간격 추가 */
  border-radius: 20px;
}
.add:hover {
  cursor: pointer;
}
